body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.box {
    background: white;
    padding: 25px;
    width: 650px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    height: 250px;
    background: #111;
    color: #0f0;
    font-family: Courier, monospace;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
}

button {
    background: #007b55;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #006847;
}
